{% extends 'base.html' %} {% block title %}Список продуктов{% endblock %} 
{% block main %}
<div class="container">
  <h1>Список продуктов</h1>
  <ul>
    {% for product in products %}
    <li>
      <a href="{% url 'product_detail' product.id %}">
        <span>{{ product.name }}</span>
      </a>
      <span> — {{ product.price }} руб. — {{ product.category.name}} — </span>

      {% if product.stock %}
      <span>{{ product.stock }} шт.</span>
      {% else %}
      <span>Нет в наличии</span>
      {% endif %}
    </li>
    {% endfor %}
  </ul>

  {% include 'pagination.html' %}

  <h2>Оставить отзыв</h2>
  <form method="post">
    {% csrf_token %} {{ form.as_p }}
    <button type="submit">Отправить</button>
  </form>
</div>
{% endblock %}
