{% extends 'base.html' %} 
{% block title %}Детальная информация по {{ product.name }}{% endblock %} 
{% block main %}
<div class="container">
  <h1>Детальная информация по {{ product.name }}</h1>
  <p class="text-start">Название продукта: {{ product.name }}</p>
  <p class="text-start">Цена продукта: {{ product.price }} руб.</p>
  <p class="text-start">Категория продукта: {{product.category.name}}</p>
  <p class="text-start">
    <span>Остаток: </span>
    {% if product.stock %}
    <span>{{ product.stock }} шт.</span>
    {% else %}
    <span>Нет в наличии</span>
    {% endif %}
  </p>
  <a href="{% url 'product_list' %}" class="btn btn-secondary">
    Назад к списку продуктов
  </a>
</div>
{% endblock %}
